<button mat-button class="menu-button" routerLink="dashboard">
    <mat-icon>home</mat-icon>
    <span>Dashboard</span>
</button>
<button mat-button class="menu-button" routerLink="details">
    <mat-icon>zoom_in</mat-icon>
    <span>Bitcoin Details</span>
</button>
<button mat-button class="menu-button" routerLink="converter">
    <mat-icon>currency_exchange</mat-icon>
    <span>Bitcoin Umrechner</span>
</button>
<button mat-button class="menu-button" routerLink="diagram">
    <mat-icon>trending_up</mat-icon>
    <span>Bitcoin Diagramm</span>
</button>
<button mat-button class="menu-button" routerLink="my">
    <mat-icon>balance</mat-icon>
    <span>Meine Bitcoin</span>
</button>