<div class="container">
    <app-detail-card title="Marktkapitalisierung" [value]="details?.marketcap" currency="USD"></app-detail-card>
    <app-detail-card title="Anzahl aller Bitcoins im Umlauf" [value]="details?.totalbc"></app-detail-card>
    <app-detail-card title="Anzahl der Transaktionen in den letzten 24h" [value]="details?.['24hrtransactioncount']"></app-detail-card>
    <app-detail-card title="Anzahl gesendeter Bitcoin in den letzten 24h" [value]="details?.['24hrbtcsent']"></app-detail-card>
    <app-detail-card title="Aktuelle Hashrate" [value]="details?.hashrate"></app-detail-card>
    <app-detail-card title="Aktueller Schwierigkeitsgrad" [value]="details?.getdifficulty"></app-detail-card>
</div>